<div
  class="example-container"
  [class.example-is-mobile]="mobileQuery.matches"
  *ngIf="shouldRun"
>
  <mat-sidenav-container
    class="example-sidenav-container"
    [style.marginTop.px]="mobileQuery.matches ? 56 : 0"
  >
    <mat-sidenav
      #sidenav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56"
    >
      <mat-nav-list>
        <a
          mat-list-item
          routerLink="."
          *ngFor="let nav of fillerNav"
          (click)="changeContent(nav.name)"
        >
          <mat-icon>
            {{ nav.icon }}
          </mat-icon>
          <span>-</span>
          {{ nav.name }}
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>

      <div *ngIf="fillerContent[0] == 'Advanced'">
        <div
          fxLayout="column"
          fxLayoutAlign="start start"
          fxLayoutGap="1rem"
          style="padding: 3em"
        >
          <h1 style="margin-bottom: 2em">Panel de Administrador</h1>
          <mat-form-field appearance="fill">
            <mat-label>Proyecto</mat-label>
            <mat-select #project [value]="projects[0]">
              <mat-option *ngFor="let project of projects" [value]="project">
                {{ project.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Acción</mat-label>
            <mat-select #selectedAction>
              <mat-option *ngFor="let action of actions" [value]="action">
                {{ action.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div *ngIf="selectedAction.value">
            <p>Ejemplo de estructura del fichero JSON:</p>
            <pre class="example-snippet">{{
              selectedAction.value.jsonSnippet | json
            }}</pre>
            <form
              fxLayout="column"
              fxLayoutAlign="start start"
              fxLayoutGap="1rem"
            >
              <mat-form-field appearance="fill">
                <mat-label>Fichero JSON</mat-label>
                <ngx-mat-file-input
                  #removableInput
                  [accept]="'.json'"
                  (change)="onFileSelected($event)"
                ></ngx-mat-file-input>
                <button
                  mat-icon-button
                  matSuffix
                  *ngIf="!removableInput.empty"
                  (click)="removableInput.clear($event)"
                >
                  <mat-icon>clear</mat-icon>
                </button>
                <mat-icon matSuffix>attach_file</mat-icon>
              </mat-form-field>
              <button
                mat-raised-button
                color="primary"
                [disabled]="removableInput.empty"
                (click)="selectedAction.value.method()"
              >
                {{ selectedAction.value?.name }}
              </button>
            </form>
          </div>
        </div>
      </div>
      <div *ngIf="fillerContent[0] == 'Users'">
        <app-admin-users></app-admin-users>
      </div>
      <div *ngIf="fillerContent[0] == 'Docs'">
        <app-admin-documents></app-admin-documents>
      </div>
      <div *ngIf="fillerContent[0] == 'Terms'">
        <app-admin-terms></app-admin-terms>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<!-- Copyright 2020 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
