
<div fxLayout="column" style="padding-top: 1rem;">
  <smc-simplemattable
    [data]="users"
    [columns]="columns"
    [loading]="loading"
    [sorting]="true"
    [paginator]="true"
    [paginatorPageSize]="10"
    [paginatorPageSizeOptions]="[10, 15, 20, 25, 50, 100]"
    [paginatorLength]="paginatorLength"
    [backendPagination]="true"
    (page)="refresh($event)"
    [rowClickable]="true"
    (rowClick)="selectUser($event)"
  >
  </smc-simplemattable>
    <app-user-detail
    *ngIf="selectedUser"
    [user]="selectedUser"
    fxFlexAlign="center"
    style="padding: 2rem 0;"
    >

    </app-user-detail>

</div>
