
<div class="center">

  <form>
    <h1>Inicio de sesión</h1>
    <p>
      <mat-form-field>
        <input matInput placeholder="Email" [(ngModel)]="email" name="email" autofocus>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <input matInput type="password" placeholder="Contraseña" [(ngModel)]="password" name="password" autocomplete="on">
      </mat-form-field>
    </p>
    <button mat-raised-button color="primary" (click)="verifyUser(email, password)">
      Iniciar sesión
    </button>
  </form>


  <div *ngIf="userfound === false">
    <p>User not found</p>
  </div>


</div>
