<div *ngIf="doc$ | async as doc" fxLayout="column" fxLayoutGap="1em" class="card-padding">
  <mat-card>
    <mat-card-header class="bg-lightgrey card-padding higher-line">
      <mat-card-title>{{ doc.title }} <span class="text-muted">({{ doc.identifier }})</span></mat-card-title>
    </mat-card-header>
    <!-- <mat-card-content [innerHTML]="doc.abstract | safeHtml" class="card-padding higher-line"></mat-card-content> -->
    <mat-card-content class="card-padding higher-line">{{ doc.abstract }}</mat-card-content>
  </mat-card>
</div>
