/* You can add global styles to this file, and also import other style files */
@import "./styles/custom-theme.scss";
@import "./styles/custom-material-colors.scss";
@import "./styles/custom-material-components.scss";
@import "./styles/utilities";

html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
