mat-card {
  padding: 0;
}

.card-padding {
  padding: 1em 3.5em 1em 3.5em;
}

.bg-lightgrey {
  background-color: #f2f2f2;
}

.text-muted {
  color: #6c757d !important;
}

.higher-line {
  line-height: 1.8em;
}
